.reg-form {
    margin: auto;
    width: 50%;
    max-width: 800px;
}

.reg-form input,
.reg-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    display: block;
}

.reg-form input:focus,
.reg-form select:focus {
    border: 1px solid black;
    background-color: gray;
    color: white;
}

.reg-form button {
    background-color: blue;
}

.reg-form button:hover {
    background-color: gray;
}