.contact-form {
    display: flex;
    flex-direction: column;
    border: 2px dotted black;
    max-width: 60%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.contact-form label {
    max-width: 50%;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 2%;
}

.contact-form button {
    align-self: flex-end;
    max-width: 10%;
}