.container {
    background-color: yellow;
    text-align: center;
    margin: 0%;
}

.navbar ul {
    list-style-type: none;
    background-color: gray;
    display: flex;
    margin: 0px;
    padding: 0px;
    border-bottom: black solid 1px;
    justify-content: space-evenly;
}

.navitem-highlight {
    background-color: black;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
    border: none;
}

.navbar a:hover {
    background-color: black;
}