.blocks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 2%;

}

.blocks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.blocks ul li {
    margin: 2rem auto;
    border: 1px solid black;
    max-height: 300px;
    max-width: 60%;
}

.blocks ul li a {
    text-decoration: none;
    color: black;
}

.blocks li a img {
    max-width: 10%;
    max-height: 10%;
}