.blog {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
}

.blog header {
    background-color: gray;
    text-align: center;
    font-size: xx-large;
    padding: 2% 2%;
}

.blog main {
    display: flex;
    flex: 1;

}

.blog aside {
    background-color: yellow;
    margin-right: 2%;
    border-right: 2px solid black;
    padding: 2%;
    min-width: 15%;
}

.blog footer {
    background-color: black;
    color: white;
    font-size: medium;
    padding: 2% 2%;
}